/*Esto no está en la práctica pero mejora el aspecto general de la página*/
/*+++++++++++++++++++++*/
* {
    padding: 0px;
    margin: 0px;
}
/*+++++++++++++++++++++*/

#contenedor {
    background-color: #fff8f0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}

div.encabezado {
    background-image: url("../imgs/guesteaus.png");
    color: #5a3e36;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 60px; /*El tamaño de la práctica es 36, lo voy a subir a 60 para que se vea mejor*/    height: 115px;
    height: 115px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat; /*Esto evita que la imagen se repita infinitamente*/
    background-size: 100%; /*Sin esto no se ajustaría a los bordes de la */
    background-position: center; /*Esto permite que sólo se vea el centro de la imagen*/
    overflow: hidden; /*Oculta lo que sobra de la imagen*/
    text-shadow: 2px 2px 3px rgba(255, 255, 255, 1), -2px -2px 3px rgba(255, 255, 255, 1);
}

div.encabezado img {
    width: 80px; /* Tamaño deseado para el logo */
    height: 80px;
    border-radius: 50%; /* Hace que la imagen sea circular */
    position: absolute; /* Posiciona la imagen absolutamente con respecto al contenedor padre */
    top: 17px; /* Ajusta la posición desde la parte superior */
    left: 17px; /* Ajusta la posición desde la izquierda */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8); /* Agrega una sombra oscura */

}

div.menu {
    background-color: #a77e58;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-align: center;
    padding: 10px 0px 10px 0px;
}

div.menu ul li {
    display: inline;
    list-style: none;
    cursor: default;
    margin-right: 35px;
}

div.menu ul li a {
    background-color: #a77e58;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    transition: background-color 0.3s ease, color 0.3s ease;
    text-decoration: none;
    font-weight: bold;
}

div.menu ul li a:hover {
    color: #5a3e36;
    border-bottom: 2px solid;
}

div.contenido {
    background-color: #fff8f0;
    color: #5a3e36;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
}

div.sidebar {
    background-color: #ecdcc6;
    color: #5a3e36;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
}

div.pie {
    background-color: #5a3e36;
    color: #ecdcc6;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: center;
}

div.pie ul {
    border-bottom: 1px solid #999999;
    padding: 5px;
}

div.pie ul li {
    display: inline;
    list-style: none;
    font-size: 14px;
    font-weight: bold;
    cursor: default;
    margin-right: 23px;
}

div.pie ul li a {
    font-size: 18px;
    color: #ecdcc6;
    transition: background-color 0.2s ease, color 0.3s ease;
    text-decoration: none;

}

div.pie ul li a:hover {
    color: #ffffff;
}

div.pie p {
    padding-top: 5px;
}

