/*Esto no está en la práctica pero mejora el aspecto general de la página*/
/*+++++++++++++++++++++*/
* {
    padding: 0px;
    margin: 0px;
}
/*+++++++++++++++++++++*/

#contenedor {
    background-color: #fff8f0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}

div.encabezado {
    background-image: url("../imgs/guesteaus.png");
    color: #5a3e36;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 36px;
    text-align: center;
    height: 115px;
}

div.menu ul li a {
    background-color: #a77e58;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    transition: background-color 0.2s ease, color 0.3s ease; /* Agrega una transición suave */
    text-decoration: none;
}

div.menu ul li a:hover {
    background-color: #836741;
    color: #ffffff;
}

div.contenido {
    background-color: #fff8f0;
    color: #5a3e36;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
}